@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}


.cuerpo-consulta {
    background-color: #00202e;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.contenido-izq h2 {
    color: #ffd380;
    font-weight: bold;
    font-size: 30px;
}

.name-logo h1 {
    text-align: left;
    color: #ffa600;
    margin-top: -30px;
    font-family: 'Righteous';
}

.icono-salir {
    text-align: right;
    margin-top: 30px;
}

.consulta {
    padding: 10px 20px;
}

.consulta .contenido-consulta {
    max-width: 1100px;
    margin: auto;
}

.consulta h2 {
    color: #bc5090;
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.consulta .fila {
    display: flex;
    justify-content: space-between;
}

.consulta .fila .col {
    width: 49%;
    padding: 0 20px;
}

.consulta .fila .col h3 {
    text-align: left;
    color: #ffd380;
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.consulta .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.consulta .fila .derecha {
    border-left: 2px solid #252A2E;
}

.consulta .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #003f5c;
    position: relative;
}

.consulta .fila .item h4 {
    color: #ffd380;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.consulta .fila .izq {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.consulta .fila .der {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.consulta .fila .item .conectori {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.consulta .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.consulta .fila .item .conectord {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.consulta .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

textarea {
    background-color: #2c4875;
    color: azure;
    border: 2px solid #666;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 100px;
}

.zona-comentario textarea {
    width: 300px;
    height: 106px;
}

.zona-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}