@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url('../imagenes/2023071617532164037-1024x585.jpg');

}

.btn-acciones {
    display: inline-flex;
    gap: 30px;
}

.name-logo {
    text-align: left;
    color: #ffa600;
    margin-top: -30px;
}

.titulo-cliente {
    color: #ffd380;
}

.icono-salir {
    text-align: right;
    margin-top: 30px;
}