@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.cuerpo-registro {
  background-color: #00202e;
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.modal-registroN {
  justify-content: space-between;
  align-items: stretch;

}

.titulo-cliente {
  color: #bc5090;
  font-size: 40px;
}

.titulo-cliente h1 {
  font-family: 'Righteous';
}

.cabecera-registro h2 {
  color: #ffd380;
  margin-left: 50px;
  font-weight: bold;
}

.lado-iz{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.icono{
  margin-top: 20px;
}

.lado-der {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  margin-top: -370px;
}

.lado-der input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
}

.botones-formnuevo {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.formulario-nuevo input[type="text"] {
  width: 200px;
  margin-bottom: 10px;
}

.boton-nuevo Button {
  transition: all 0.50s;
}

.boton-nuevo Button:hover {
  transform: scale(1.5);
}

.botones-formnuevo Button {
  transition: all 0.50s;
}

.botones-formnuevo Button:hover {
  transform: scale(1.5);
}

.formulario-config h2 {
  color: #ffd380;
  margin-left: 50px;
  font-weight: bold;
}

.botones-formconfig {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.formulario-config input[type="text"] {
  width: 200px;
  margin-bottom: 10px;
}


.botones-formconfig Button {
  transition: all 0.50s;
}

.botones-formconfig Button:hover {
  transform: scale(1.5);
}